/* --- CONTACT FORM --- */
.contact__Content {
    z-index: 3;
    display: block;
    position: absolute;
    bottom: -1%;
    left: 2%;
    right: 2%;
    min-height: 250px;
    border-radius: 30vw 30vw 0 0; 
    margin: 0 auto;
    height: calc(92.5vh - 20px);  /* 92.3vh */
    background-color: var(--backgroud-color-contrast);
    transition: cubic-bezier(0.250, 0.100, 0.055, 1) 1.6s transform,
                cubic-bezier(0.250, 0.100, 0.055, 0.990) 2.3s border-radius,
                1.2s background-color, .2s color, .2s fill;                           
    transform: var(--bug-transalte);
}
  
.close__Contact {
    position: absolute;
    top: 0;
    right: 0;
    padding: 2vh 3.1vw;
    background-color: transparent;
    text-decoration: none;
    cursor: pointer;
    transition: ease .5s;
}
  
.close__Contact:hover {
    margin-right: 6px;
    font-weight: 800;
}
  

/* --- CONTACT TEXT & INFO --- */
.contact__Text {  
    display: block;
    position: absolute;
    top: 10vh;
    left: 7vw;
    right: 7vw;
    background-color: transparent;
    transition: .2s;
}
.contact__Text--Main {
   font-size: calc(8vw + 2vh);
   font-weight: 600;
   letter-spacing: -0.3vw;
   line-height: 90%;
   background-color: transparent;
   color: var(--font-color);
   transition: .2s color, .3 all;
}
.contact__Text--Main::after {
    content: "!";
    font-family: 'Inter', sans-serif;
}
.contact__Text--Email {
   margin-left: 1%;
   float: left;
   font-size: calc(1vw+ 10px);
   font-weight: 300;
   font-family: 'Inter', sans-serif;
   background-color: transparent;
   transition: .1s;
}

.contact__TextEnd {
   visibility: hidden;
   position: absolute;
   top: 40%;
   left: 5%;
   right: 5%;
   font-size: calc(2vw + 20px);
   font-family: 'Inter', sans-serif;
   background-color: transparent;
   color: var(--font-color);
}

/* --- INPUTS --- */

#contact__Input--Name, 
#contact__Input--Email
{
    position: absolute;
    top: 35vh;
    left: 8vw;
    right: 8vw;
   height: 9vh;
   padding-left: .5%;
   font-size: calc(1vw + 2vh);
   line-height: 9vh;
   font-family: 'Inter', sans-serif;
   background-color: transparent;
   color: var(--font-color);
   border: none;
   border-bottom: 2px solid rgb(129, 129, 129);
   /* border-radius: 0 0 10% 0; */
   transition: .3s;
}
#contact__Input--Email {
    visibility: hidden;
    position: absolute;
    top: 45vh;
    /* border-radius: 0 0 30% 0; */
}

#contact__Input--Message {
    visibility: hidden;
    overflow: visible;
    position: absolute;
    top: 55vh;
    left: 8vw;
    right: 8vw;
    margin-top: 2%;
    padding-left: .5%;
    background-color: transparent;
    color: var(--font-color);
    font-size: calc(1vw + 2vh);
    line-height: calc(1vw + 2vh);
    font-family: 'Inter', sans-serif;
    border: none;
    border-bottom: 2px solid rgb(129, 129, 129);
    /* border-radius: 0 0 40% 0; */
    max-width: 79vw;
    max-height: 15vh;
    resize: none;
}

.contact__Content label {
    z-index: -1;
    position: absolute;
    top: 35.5vh;
    left: 8vw;
    height: 9vh;
    line-height: 9vh;
    padding-left: 0.5%;
    font-size: calc(1vw + 2vh);
    font-family: 'Inter', sans-serif;
    background-color: transparent;
    color: rgb(129, 129, 129);
    transition: .3s;
    user-select: none;
}
.contact__Content label:nth-of-type(2) {
    visibility: hidden;
    top: 45.5vh;
}
.contact__Content label:nth-of-type(3) {
    visibility: hidden;
    top: 55.5vh;
}  

input[type="text"]:focus + label.contact__Input--Name-Label,
input[type="email"]:focus + label.contact__Input--Email-Label,
textarea:focus + label.contact__Input--Message-Label
{
    margin-top: -5vh;
    font-size: calc(0.5vw + 1vh);
}

input[type="text"]:valid + label.contact__Input--Name-Label,
input[type="email"]:valid + label.contact__Input--Email-Label,
textarea:valid + label.contact__Input--Message-Label
{
    margin-top: -5vh;
    font-size: calc(0.5vw + 1vh);
}

input[type="email"]:invalid + label.contact__Input--Email-Label {
    margin-top: -5vh;
    font-size: calc(0.5vw + 1vh);
}


input:focus,
textarea:focus {
   border-color: var(--font-color);
   outline: none;
}


/* --- CONTACT FORM NAVIGATION --- */

.contact__Navigation {
    display: block;
    position: absolute;
    top: 40vh;
    right: 7.3vw;
    transform: scale(2);
    padding: .4% 2%;
    fill: rgb(129, 129, 129);
    stroke: rgb(129, 129, 129);
    color: var(--font-color);
    background-color: transparent;
    border: none;
    stroke-width: 1px;
    transition: .3s;
    cursor: pointer;
    
}
.contact__Navigation:hover {
    right: 6.8vw;
    transform: scale(2.2);    
}
/* --- RESPONSIVE --- */

@media (max-width: 750px) {
    .contact__Text--Main {
        font-size: 15vw;
    }
}
@media (min-width: 2000px) {

}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: var(--font-color);
  -webkit-box-shadow: 0 0 0px 1000px #161717 inset;
  transition: background-color 5000s ease-in-out 0s;
}

