
.works__Content {
    z-index: 3;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    background-color: rgba(21,21,21, .45);
    opacity: 0;
    transition: cubic-bezier(0.250, 0.100, 0.055, 0.990) 2s transform, 
                cubic-bezier(0.250, 0.100, 0.055, 0.990) 2s border-radius,
                1s opacity;
    backdrop-filter: blur(15px) saturate(80%);
    
}

.close__Works {
    position: absolute;
    top: calc(3vh - 4px); /* 2.2vh dla contrast logo*/
    right: 3.31vw;
    background-color: transparent;
    color: white;
    cursor: pointer;
    transition: ease .5s;
}
.close__Works:hover {
    margin-right: 6px;
    font-weight: 800;
}

.works__List {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 100%;
   list-style: none;
   background-color: transparent;
}

.works__List--Text {
    text-align: center;
    font-weight: 700;
    font-size: calc(5vw + 4vh);
    background-color: transparent;
    cursor: pointer;
    word-wrap: none;
    transition: .6s;

   
}
.works__List--Text svg {
    fill:none;
    stroke: #fff;
    stroke-width: .5px;
    stroke-linejoin: round;
}   
.works__List--Text:hover {
    stroke-width: 5px;
    transform: scale(1.1);
}